<% @gallery_thumbs.each do |g_thumb| %>
<!--  <table>
    <tr><td>Filename: <%= g_thumb.fname %></td>
    <td>Path: <%= g_thumb.path %></td>
    <td>Gallery: <%= g_thumb.gallery.title %></td>
    <td>Category: <%= g_thumb.gallery.category.title %></td></tr>
  </table>
-->
<% end %>
<div class="categories">

</div>