// Place all the styles related to the dirlist controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dirlist {
  .header{
    font:bold smaller sans-serif;
    font-size:14px;
  }
  .files {
    font:smaller sans-serif;
    font-size:12px;
    align: center;
  }
  .notice {
    clear:both;
    background-color:#b0c4de;
  }
  .gal {
    padding:10px;
  }
  table.main, tr.main, td.main {
    border-collapse:collapse;
    margin:0 auto;
    border:1px solid green;
    align: center; 
  }
  .right {
    text-align:right;
  }
  th.main {
    background-color:green;
    color:white;
  }
}
